body{
    background-image: url(../assets/fondo/fondo.png);
}

header{
    display: flex;
    align-items: center;
    background-color: #946e51;
    height: 5rem;
    width: 100%;
    padding: 0 1rem;
    margin-top: 1rem;
}

.header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
}
.nav-header{
    height: 100%;
    }
.header-ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    text-align: center;
    padding: 0rem;
    justify-content: space-between 1rem;
    }

.header-ul li a{
    text-decoration: none;
    white-space: nowrap;
    color: aliceblue;
    font-family: "Sansation", sans-serif;
    font-weight: 700;
    font-size: large;
    padding: 1rem;
}

.header-ul li{
    padding: 0.2rem;
    margin: 0.2rem;
    }

.header-ul li a:hover{
    color: rgb(34, 35, 36);
    padding: 1rem;
   border-radius: 0.5rem;
    background-color: #dacdc486;
    cursor: url(../assets/cursor/1000185808.cur), auto;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.main-divisor h1{
   font-weight: bold;
   font-size: xx-large;
    text-shadow: 0 0 1rem rgb(2, 2, 2);
}
.main-divisor p{
    font-family: "Pinyon Script", cursive ;
    font-size: xx-large;
    font-weight: 400;
    margin: 0.3rem;
}

.video-container{
    width: 100vw;
    height: auto;
}

.horneada{
    width: 80vw;
    height: auto;
}