
.main-divisor{
    
    display: flex;
    flex-direction: column;
    align-items: center;

}

.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
}

.main-divisor h1{
     font-weight:300;
   font-size: 50px;
    text-shadow: 0 0 1rem rgb(2, 2, 2);
}
.main-divisor p{
    font-family: "Pinyon Script", cursive ;
    font-size: 50px;
    font-weight: 400;
    margin: 0.3rem;
}

 .video-container {  
    width: 100%; 
    
}
.horneada {
    width: 100%;
    height: auto;
    display: block; /* This helps prevent extra space below the video */
}

.nuevos-sabores{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    margin-top: 4rem;
    background-color:  #b89479a2;
    width: 98%
    
    }


.contenedor-cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5vw;
   
    
}

.offer-card{
    display: grid;
    grid-column: auto;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 250, 237, 0.562);
    padding: 2%;
    border-radius: 0.5rem;
    width: 25%;
    }

    .offer-card:hover{
    background-color: rgba(255, 255, 255, 0.849);
    padding: 2%;
    animation: zoom 0.1s ease-in-out forwards;
   
    }

.offer-card h1{
  font-size: bold;
  height: 2rem;
}

.offer-card img{
    width: 10vw;
    height: 10vw;
}

.offer-card button:hover{
    cursor: url(../assets/cursor/1000185808.cur), auto;
}
.offer-card svg{
    width: 1.5rem;
    height: 2rem;
    }




