.presentacion div{
margin: 1rem;
}

video {
  max-width: 100%;
  height: 60vh;
}

.galeria{
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Esto crea 2 columnas de igual tamaño */
  gap: 15px; /* Espacio entre las imágenes */
  padding: 20px; /* Espacio alrededor de la galería */
  max-width: 800px; /* Ancho máximo del contenedor para centrarlo */
  margin: 0 auto; /* Centra el contenedor en la página */
}

.imagen-galeria {
  /* Opcional: añade un poco de estilo al contenedor de la imagen */
  border: 1px solid #ccc;
  padding: 5px;
  text-align: center;
}

.imagen-galeria img {
  width: 100%; /* Las imágenes se ajustarán al ancho de su contenedor */
  height: auto; /* Mantienen la proporción original */
  display: block; /* Elimina el espacio extra debajo de las imágenes */
}