.nav-bar{
  max-width: 70%;
 
}
.presentacion{
  display: flex;
  flex-direction: column;
  margin: 1%;
  
}
.video-nf{
    display: flex;
    justify-content: center;
    
}

.estiba{
width: 80%;

}

.galeria{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px; 
  padding: 20px; 
  max-width: 800px; 
  margin: 0 auto; 

}

.imagen-galeria {
  /* Opcional: añade un poco de estilo al contenedor de la imagen */
  border: 1px solid #ccc;
  padding: 5px;
  text-align: center;
 
  
}

.imagen-galeria img {
  width: 100%; /* Las imágenes se ajustarán al ancho de su contenedor */
  height: auto; /* Mantienen la proporción original */
  display: block; /* Elimina el espacio extra debajo de las imágenes */
}

@keyframes zoom3d{
  from{ transform: scale(1);

  }
  to {transform:  scale(1.5);
  }
}

.imagen-galeria:hover{
  /* Opcional: añade un poco de estilo al contenedor de la imagen */
    animation: zoom3d 0.2s ease-in-out forwards ;
}