main{
    display: flex;
    flex-direction:column;
    align-items: center;
   
}

.historia h1{
    font-size: 4rem;
    font-weight: 500;
    color: rgb(94, 83, 69);
   text-align: left;
   background-color: rgba(253, 250, 250, 0.705);
}


.fragmento{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f8f0e6c7 ;
    padding: 2%;
    border-radius: 1rem;
    gap: 5%;
    margin-top: 2%;
}

.fragmento p{
    font-family: "Sansation", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  font-style: italic;
}
.fragmento img{
    width: 50%;
    height: 50%;
}